
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Welcome
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
            <%= simple_form_for(resource, as: resource_name, autofocus: false, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs rectanglechalk">
          <%= f.input :email, autofocus: false, required: false, cursor: "pointer" %>
        </div>
        <div class="form-inputs rectanglechalk">
          <%= f.input :password, autofocus: false, required: false %>
        </div>
        <div class="form-inputs rectanglechalk">
          <%= f.input :remember_me, autofocus: false, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="text-center">
            <div class="form-actions  rectanglechalk">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>

    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
