<h1 class="text-center">MENU DU JOUR</h1>
<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 ">
      <% @dishes.each do |dish| %>
        <div class="row">
          <div class="col-md-10">

            <h2><A HREF="/dishes#"><%= link_to dish.name, dish_path(dish) %></A></h2>


            <p><%= dish.description %> <h2><%= dish.price_per_portion%> €</h2></p>
            <div class="caption text-center">





            </div>
          </div>
        </div>
<% end %>

<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <ul class="list-inline social">
              <li>
                  <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "face_chalk.jpg", width:"75px", id: "logo" %>
       <% end %>
              </li>
              <li>
                 <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "twitt_chalk.jpg", width:"75px", id: "logo" %>
       <% end %>
              <li>
                <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "in_chalk.jpg", width:"75px", id: "logo" %>
       <% end %>
              </li>
              <li>
                <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "you_tube_chalk.jpg", width:"75px", id: "logo" %>
       <% end %>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
