<h1>Proposer un plat</h1>
<br>

<%= simple_form_for(@dish) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: 'Votre plat', placeholder: "Poulet braisé" %>
  <%= f.input :description, label: 'Des commentaires ?' %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
