<h1>Proposer un plat</h1>
<br>

<%= simple_form_for(@dish) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: 'Votre plat', placeholder: "Envoyez du rêve ! (max 40 charactères)" %>
  <%= f.input :description, label: 'Description', placeholder: "Soyez explicite, faites nous saliver ce texte " %>
<!--  TODO voir comment les ajouter (ressource nestée + nouveau simple_form ?) <%= f.input :ingredient, label: 'Ingrédients', placeholder: "Pensez à tous les lister (allergies...)" %> -->

  <%= f.button :submit, label: "Ajouter votre plat", class: "btn btn-primary" %>

<% end %>
